.cart-field {
  width: 46rem;
  height: 5.8rem;
  display: flex;
  flex-direction: column;
}

.cart-field__label {
  font-size: 1.8rem;
  line-height: 2.9rem;
  color: #570101;
}

.cart-field__input {
  width: 100%;
  height: 2.9rem;
  border-bottom: 1px solid rgba(87, 1, 1, 0.6);
}
